*{
	margin:0;
	padding:0;
}

body {
	background:#00162B;
}

header {
	width:100%;
}

header nav {
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:#404040;
}

.menu_bar {
	display:none;
        outline: none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
        font-weight: 900;
        outline: none;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a:hover {
	background:#9E9E9E;
        color:white;
        text-decoration:none;
        font-weight: 900;
        outline: none;
        border-right: solid 5px white;
}

section {
	padding:20px;
}

@media screen and (min-width:0px ) {
	header nav {
		width:200px;
		height:580px;
		left:-100%;
		margin:0;
		position: absolute;
		z-index:200;
                border-bottom: solid 5px white;          
	}

	header nav ul li {
		display:block;
		float:none;
		
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#404040;
		color:white;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
                outline: none;
	}

	.menu_bar span {
	
		font-size:40px;
	}
}